.brand-area{
    padding: 50px 0;
    border-top: 1px solid $tab-border;
    .brand{
        &__wrap{

            &:hover{
                .swiper-btn{
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
    }
    .swiper-button-prev{
        transform: translate(-50%, 0%);
    }
    .swiper-button-next{
        transform: translate(50%, 0%);

    }
}